@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3zct28');
  src:  url('fonts/icomoon.eot?3zct28#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3zct28') format('truetype'),
    url('fonts/icomoon.woff?3zct28') format('woff'),
    url('fonts/icomoon.svg?3zct28#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-airplane:before {
  content: "\e903";
}
.icon-announcement:before {
  content: "\e901";
}
.icon-badge:before {
  content: "\e904";
}
.icon-plugin:before {
  content: "\e902";
}
.icon-radar:before {
  content: "\e900";
}
.icon-shield:before {
  content: "\e905";
}
.icon-star-full:before {
  content: "\e906";
}
.icon-trophy:before {
  content: "\e907";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-book:before {
  content: "\e91f";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-github:before {
  content: "\eab0";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-codepen:before {
  content: "\eae8";
}
